.header{
    background: var(--dark-dark-2, #1F222A);
    width: 96%;
    height: 85px;
    flex-shrink: 0;
    align-items: center;
    left: 0;
    top: 0;
    right:0;
    position: fixed;    
    padding: 0 40px;
}
.header, .headerMiddle, .headerRight{
    display: flex;
    justify-content: space-between;
} 
/* .frame{
    display: flex;
    width: 1257.28px;
    justify-content: flex-end;
    align-items: center;
    gap: 140px;
} */
.headerMiddle{    
    width: 23%;
    align-items: center; 
}

.headerRight{
    color: White;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-right: 10px;
    /* margin-right: 10px; */
}
.diamonds, .coins{
    border: solid 2px;
    display: flex;
    padding: 2px 16px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    background: var(--greyscale-900, #212121);
}
.diamonds {
    border: 2px solid var(--gradients-gradient-blue, #246BFD);
}
.coins{
    border: 2px solid var(--gradients-gradient-yellow, #FACC15);
}
.icon{
    padding-top: 5px;
}
.num{
    color: var(--others-white, #FFF);
    /* font-family: Inter; */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 32px */
}
.Avatar{
    align-items: center;
    display: flex;
    justify-content: center;
   
}
.avatar{
    position: relative;
    /* margin-top: 10px;; */
}
.status{
    /* bottom: 0; */
    /* right:0; */
    /* float: right; */
    margin-top: 58px;
    margin-left: 30px;
    position: fixed;
    z-index:2;
    margin-bottom: 20px;
}