.header{
    background: var(--dark-dark-2, #1F222A);
    width: 98%;
    height: 85px;
    flex-shrink: 0;
    align-items: center;
    left: 0;
    top: 0;
    position: fixed;    
    padding: 0 20px;
}
.header, .headerMiddle, .headerRight{
    display: flex;
    justify-content: space-between;
}
.headerMiddle{    
    width: 30%;
    align-items: center; 
}
.midLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21%;
    height: 77px;
    position: relative;
}
.linkText{
    color: #808191;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-top: 32px;
}
.linkTextWrap{
    height: 85px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    .linkTextLine{
        width: 100px;
        height: 4px;
        flex-shrink: 0;
        border-radius: 2px 2px 0px 0px;
        background: var(--dark-dark-2, #1F222A);
    }

}
.linkTextWrap:hover, .linkTextWrapActive{
    .linkText{
        background: var(--gradients-blue-2, linear-gradient(286deg, #00F5A0 0%, #00D9F5 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .linkTextLine{
        background: var(--gradients-blue-2, linear-gradient(286deg, #00F5A0 0%, #00D9F5 100%));
    }
}

.headerRight{
    color: White;
    width: 15%;
}